.navbar{
  width: 100%;
  height:60px;
  background-color:aquamarine;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.nav-items{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    gap:40px;
}
